<div class="container-fluid login-container">
    <div class="row">
        <div class="offset-md-3 offset-lg-3 col-md-8 col-lg-6 bg-blue-transparent">
            <div class="login d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-7 mx-auto text-center">
                            <img src="../../../assets/logo.png" class="logo-login mt0 mb10" />
                            <form [formGroup]="resetPasswordDetails">
                                <div class="form-label-group">
                                    <img src="../../../assets/pass.svg" class="icon-img">
                                    <input type="{{hidePass?'password':'text'}}" class="form-control"
                                        formControlName="password" placeholder="Password" autocomplete="off">
                                    <i class="fa icon-img-right white-text cursor-pointer" [ngClass]="{'fa-eye':!hidePass,'fa-eye-slash':hidePass}" (click)="hidePass = !hidePass"></i>
                                    <mat-error
                                        *ngIf="resetPasswordDetails.get('password').errors?.required && resetPasswordDetails.controls?.password?.touched">
                                        Please enter password
                                    </mat-error>
                                </div>
                                <div class="form-label-group">
                                    <img src="../../../assets/pass.svg" class="icon-img-pass">
                                    <input class="form-control" formControlName="confirmPassword"
                                        placeholder="Confirm password" type="{{hideConfirmPass?'password':'text'}}"
                                        autocomplete="off">
                                    <i class="fa  icon-img-right white-text cursor-pointer" [ngClass]="{'fa-eye':!hideConfirmPass,'fa-eye-slash':hideConfirmPass}" (click)="hideConfirmPass = !hideConfirmPass"></i>
                                    <mat-error
                                        *ngIf="resetPasswordDetails.get('confirmPassword').errors?.required && resetPasswordDetails.controls?.confirmPassword?.touched">
                                        Confirm password is required
                                    </mat-error>
                                </div>
                                <button
                                    class="btn btn-lg all-btn btn-block btn-login text-uppercase font-weight-bold mb-2"
                                    (click)="resetPassword()" type="submit">Reset</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>