.cq-ipr-qual-view-cont-card {
  border: none;
  box-shadow: none !important;
  width: 100%;
  margin:0 !important;
}
  
.cq-ipr-qual-view-cont-card .cq-row {
  padding: 1rem 0rem;
}
    
.cq-ipr-qual-view-form-lbl {
  margin-top: 1rem;
  font-weight: normal !important;
}
  
.cq-ipr-qual-view-form-dd {
  width: 100%;
}
  
.cq-ipr-qual-view-cont-card .jumbotron {
  padding: 2rem 5rem;
  width: 100%;
}
  
.cq-ipr-qual-view-form-lbl.lead {
  font-size: 1.1rem;
}

.cq-ipr-qual-view-form-cb{
  margin-top: 1rem;
  font-weight: normal !important;
}
.cqr-eval-change-icon.mat-icon {
  font-size: 16px;
  height: 15px;
  width: 15px;
  display: block;
  margin-left: 20px;
}