<div class="row cq-ipr-qual-view-card-cont">
    <mat-card class="cq-ipr-qual-view-cont-card">
        <mat-card-header>
            <mat-card-title>Qualification Criteria</mat-card-title>
            <mat-card-subtitle [hidden]="hideBreadCrumb">
                <app-ng-dynamic-breadcrumb fontSize="12px" bgColor="#fff" fontColor="#ff6600" lastLinkColor="#0430ad">
                </app-ng-dynamic-breadcrumb>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="cq-ipr-rl-card-cont">
            <div class="row cq-row">
                <div class="row cq-row">
                    <div class="jumbotron jumbotron-fluid">
                        <app-close-btn></app-close-btn>
                        <p class="lead">Note!</p>
                        <p>Keep a note that process rules will be used
                            in IPR process during RFP addition, so modify with caution.</p>
                    </div>
                </div>
                <div class="col-md-12 no-padding">
                    <mat-chip-list>

                        <mat-chip *ngIf="rulesObj?.effectiveDate && is_admin" class="bg-color-white cqr-chip">
                            <mat-icon class="no-margin primary-color cqr-chip-icon">today</mat-icon>Effective From -
                            {{rulesObj?.effectiveDate|date:'dd/MM/yyyy'}}
                        </mat-chip>
                        <mat-chip *ngIf="!rulesObj?.effectiveDate && is_admin" class="bg-color-white cqr-chip">
                            <mat-icon class="no-margin primary-color cqr-chip-icon">today</mat-icon>Effective From -
                            {{publishDate}}
                        </mat-chip>

                        <mat-chip class="bg-color-white cqr-chip" *ngIf="is_admin">
                            <mat-icon class="no-margin primary-color cqr-chip-icon">location_on</mat-icon>Status -
                            {{rulesObj?.currentState}}
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <div class="col-md-12 no-padding">
                    <table class="cq-ipr-doc-temp-table">
                        <thead class="mat-row">
                            <tr class="cq-ipr-doc-temp mat-row cdk-row ng-star-inserted">
                                <th>Insurance Category</th>
                                <th>Insurance Plan</th>
                                <th>Ready to Publish</th>
                                <th></th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tr *ngFor="let combination of combination_data"
                            class="cq-ipr-doc-temp mat-row cdk-row ng-star-inserted">
                            <td class="cdk-cell cdk-column-id mat-column-id ng-star-inserted">
                                {{combination?.category_name}}
                            </td>
                            <td class="cdk-cell cdk-column-id mat-column-id ng-star-inserted">
                                {{combination?.plan_category_name}}
                            </td>
                            <td class="cdk-cell cdk-column-id mat-column-id ng-star-inserted">
                                {{combination?.published}}
                            </td>
                            <td>
                                <mat-icon class="cqr-eval-change-icon"
                                    [style.visibility]="combination.isChange ? 'visible' : 'hidden'">
                                    published_with_changes</mat-icon>
                            </td>
                            <td>
                                <button mat-icon-button color="primary" [matMenuTriggerFor]="appMenu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>

                                <mat-menu #appMenu="matMenu">
                                    <ng-container>
                                        <button mat-menu-item (click)="handleMenu(combination)">
                                            <mat-icon color="primary">edit</mat-icon>
                                            <ng-container>View/Edit</ng-container>
                                        </button>
                                    </ng-container>
                                </mat-menu>

                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row" *ngIf="selInsCategory && selInsPlanCategory">
                <div class="col-lg-4">
                    <div class="margin-bt-10">
                        <mat-chip-list>
                            <mat-chip class="bg-color-white cqr-chip row cqr-row-chip">
                                <mat-icon class="no-margin primary-color cqr-chip-icon">today</mat-icon>
                                {{selInsCategory}} - {{selInsPlanCategory}}
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                </div>
            </div>
            <div *ngIf="show_inputs" class="row">
                <div class="col-lg-1">
                    <label class="cq-ipr-qual-view-form-lbl lead">Sr. No</label>
                </div>
                <div class="col-lg-5">
                    <label class="cq-ipr-qual-view-form-lbl lead">Qualification Parameters</label>
                </div>
                <div class="col-lg-2">
                    <label class="cq-ipr-qual-view-form-lbl lead">Use?</label>
                </div>
                <div class="col-lg-4">
                    <label class="cq-ipr-qual-view-form-lbl lead">Minimum Acceptable Value</label>
                </div>
            </div>
            <ng-container *ngIf="combination_rules[selectCombIndex]">
                <div class="row" *ngFor="let rule of combination_rules[selectCombIndex]['ruleList']; index as idx;">
                    <div class="col-lg-1">
                        <label class="cq-ipr-qual-view-form-lbl">{{ idx + 1 }}</label>
                    </div>
                    <div class="col-lg-5">
                        <label class="cq-ipr-qual-view-form-lbl">{{ rule.ruleName }}
                            <span *ngIf="rule?.isMandatory">*</span>
                            <span *ngIf="rule.isNew" class="badge badge-secondary cq-accent-color">New</span>
                        </label>
                    </div>
                    <div class="col-lg-2 cq-ipr-qual-view-form-cb">
                        <mat-checkbox [disabled]="disableForm || rule['isMandatory']" [(ngModel)]="rule.isActive"
                            type="checkbox">
                        </mat-checkbox>
                    </div>
                    <div class="col-lg-4 cqr-ipr-new">
                        <mat-form-field class="form-input cq-ipr-qual-view-form-dd"
                            *ngIf="rule['iprRulesOpList'][0].ruleDataType.itemValue == 'dropdown'">
                            <mat-select
                                [disabled]="disableForm || is_published || rule.isActive==false || combination_rules[selectCombIndex]['isPublishable']"
                                [(value)]="rule['iprRulesOpList'][0]['value']">
                                <mat-option *ngFor="let lov of lovDataObj[rule.ruleLov]" [value]="lov.id.toString()">
                                    {{ lov.itemName }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="form-input cq-ipr-qual-view-form-dd"
                            *ngIf="rule['iprRulesOpList'][0].ruleDataType.itemValue == 'text' || rule['iprRulesOpList'][0].ruleDataType.itemValue == 'number'">
                            <input
                                [disabled]="disableForm || is_published || rule.isActive==false ||  combination_rules[selectCombIndex]['isPublishable']"
                                matInput [(ngModel)]="rule['iprRulesOpList'][0]['value']" autocomplete="off"
                                [type]="rule['iprRulesOpList'][0].ruleDataType.itemValue" [readonly]="rule.isReadOnly">
                            <span matSuffix *ngIf="rule?.ruleLabel">{{ rule?.ruleLabel }}</span>
                        </mat-form-field>
                        <mat-icon class="cqr-eval-change-icon"
                            [style.visibility]="rule.isChange ? 'visible' : 'hidden'">published_with_changes</mat-icon>
                    </div>
                </div>
            </ng-container>
            <div *ngIf="is_admin" class="row">
                <div class="col-lg-1">

                </div>
                <div class="col-lg-3">
                    <label class="cq-ipr-qual-view-form-lbl">Rule Change Summary / Remarks *</label>
                </div>
                <div class="col-lg-4" *ngIf="selectCombIndex!=null">
                    <mat-form-field class="form-input cq-ipr-qual-view-form-dd">
                        <textarea maxlength="280" [disabled]="disableForm || is_published" matInput
                            [(ngModel)]="comment" autocomplete="off"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div *ngIf="is_admin" class="row">
                <div class="col-lg-1">
                    <label class="cq-ipr-qual-view-form-lbl"></label>
                </div>
                <div class="col-lg-3">
                    <label class="cq-ipr-qual-view-form-lbl">Ready to Publish</label>
                </div>
                <div class="col-lg-4 cq-ipr-qual-view-form-cb" *ngIf="selectCombIndex!=null">
                    <mat-checkbox [disabled]="disableForm" (change)="onPublishChange($event)"
                        [(ngModel)]="combination_rules[selectCombIndex]['isPublishable']" type="checkbox">
                    </mat-checkbox>
                </div>
            </div>
            <div class="row cq-row pull-right" *ngIf="show_inputs">
                <button (click)="backProcess()" mat-raised-button class="cq-accent-color cq-form-btn">Cancel</button>
                <button [disabled]="disableForm" [ngClass]="{'btn-disable': disableForm}" (click)="onBeforeRuleSave()"
                    mat-raised-button
                    class="cq-accent-color cq-form-btn">{{is_admin ? 'Save as Draft' : 'Save'}}</button>
                <button *ngIf="hidePublish" [ngClass]="{'btn-disable': disableForm || is_published==false}"
                    [disabled]="disableForm || is_published==false" (click)="onBeforePublished()" mat-raised-button
                    class="cq-accent-color cq-form-btn">Publish</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>