<div class="row cq-dash-tb-cont">
    <mat-card class="cq-dash-tb-cont-card">
        <mat-card-header>
            <mat-card-title>Pending Tasks</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row cq-row">
                <div class="col-lg-4">
                    <!-- <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-search"></i>
                                </span>
                            </div>
                            <input type="search" class="form-control" placeholder="Task Name">
                        </div>
                    </div> -->
                </div>
            </div>
            <app-table-view class="sv-ua-tableview-cont" filter="true"></app-table-view>
        </mat-card-content>
    </mat-card>
</div>